{% extends "layout.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead class="uvm-green">
            <tr>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for option in option_menu %}
            <tr>
                <a href="{{url_for('.option_page', option_id=option)}}"><td>{{ option }}</td></a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


</div>

{% endblock %}